:root{
    --cor-de-fundo: #0a0a0a ;
    --cor-barra: #ffffff ;
    --tamanho: 5px;
}



.carregando{
    background-color: var(--cor-de-fundo);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1002;
    top: 0;
    left: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-title{
    position: absolute;
    top: 40vh;
}

.title{
    color: white;
    align-items: center;
    font-family: "Roboto";
    font-size: 4vh;
    text-align: center;
}

.progresso{
    width: 50%;
    background-color: #ffffff33;
    border-radius: 10px;
    overflow: hidden;
}

.barra{
    width: 0%;
    height: var(--tamanho);
    background-color: var(--cor-barra);
    transition: width 1s ease-in-out;
}

@keyframes pre-carregamento {
    100% {
        transform: scale(2);
    }
}