@font-face {
    font-family: "Heavitas";
    src: url("./font/Heavitas.ttf");
  }

@font-face {
   font-family: "BebasNeue";
   src: url("./font/BebasNeue-Regular.ttf");
  }
  
@font-face {
    font-family: "Akira";
    src: url("./font/AkiraExpandedDemo.otf");
  }