body{
    background-color: #000000;
}

.sec-projetos{
    position: absolute;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 150%;
    left: 0;
    top: 100%;
}

#PROJETOS{
    position: absolute;
    top: -25%;
}

.title-projetos{
    color: rgb(255, 255, 255);
    font-size: 5vh;
    font-family: "Roboto";
    padding-left: 11%;
    text-align: justify;
    transform: translateY(-10px);
    animation: fadeIn 2s ease forwards;
}

.tex-projetos{
    color: rgb(255, 255, 255);
    font-size: 2.3vh;
    text-align: justify;
    width:65%;
    margin-top: 1%;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 11%;
    transform: translateY(-10px);
    animation: fadeIn 2s ease forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* CSS DO MODAL DOS CARDS PROJETOS */
     .container {
         display: flex;
         gap: 20px;
         flex-wrap: wrap;
         margin-left: 5%;
         padding-left: 8px;
         margin-top: 1%;
         text-align: center

     }
     /* Estilo dos projetos */
     .projeto {
         width: 400px;
         height: 350px;
         background: #fff;
         border-radius: 8px;
         cursor: pointer;
         transition: 0.3s;
         font-family: Arial, sans-serif;
         border-radius: 17px ;
         margin-top: 50px;

        
     }

     #Armazem:hover{
        border-bottom:  #cea800 5px solid ;
        transform: scale(1.05);
     }

     #GTA:hover{
        border-bottom:  #af2815 5px solid ;
        transform: scale(1.05);
     }

     #Churas:hover{
        border-bottom:  #838383 5px solid ;
        transform: scale(1.05);
     }

     #Python:hover{
        border-bottom:  #1f00ac 5px solid ;
        transform: scale(1.05);
     }

     #Github:hover{
        border-bottom:  #acacac 5px solid ;
        transform: scale(1.05);
     }
     

     .projeto img{
        margin-top: -1%;
        border-radius: 8px;
     }

     .titulo-projeto{
        font-family: "Roboto";
     }

     .descricao-projeto{
        width:75%;
        margin-left: 45px;
        font-family:Arial, Helvetica, sans-serif;
        font-size: 14px;
     }

     .linguagens-projetos{
        margin-top: -1%;
        left: 20%;
        font-size: 35px;
     }

     /* Modal */
     .modal-bg {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
        justify-content: center;
        align-items: center;
        opacity: 0;
        animation: fadeIn 0.3s ease-in-out forwards;
    }
    
    /* Animação de entrada */
    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    
    .modal-content {
        background: white;
        padding: 20px;
        border-radius: 10px;
        transform: scale(0.8);
        opacity: 0;
        font-family:Arial, Helvetica, sans-serif;
        animation: zoomIn 0.3s ease-out forwards;
    }
    
    @keyframes zoomIn {
        from {
            transform: scale(0.8);
            opacity: 0;
        }
        to {
            transform: scale(1);
            opacity: 1;
        }
    }
    
    /* Animação de saída */
    .fechando {
        animation: zoomOut 0.3s ease-in-out forwards;
    }
    
    @keyframes zoomOut {
        from {
            transform: scale(1);
            opacity: 1;
        }
        to {
            transform: scale(0.8);
            opacity: 0;
        }
    }
    
     .close-btn {
         margin-top: 15px;
         padding: 8px 16px;
         background: #ff3333;
         color: white;
         border: none;
         cursor: pointer;
         border-radius: 5px;
     }
     .close-btn:hover {
         background: #cc0000;
     }

     .modal-links {
        display: flex;
        margin-left: 30px;
        gap: 10px;
        margin-top: 15px;
    }
    
    .btn {
        text-decoration: none;
        padding: 10px 15px;
        border-radius: 5px;
        color: white;
        font-weight: bold;
        background-color: #000000;
        transition: 0.3s;
    }
    
    .btn:hover {
        background-color: #3f3f3f;
        color: white;
    }
    